
@font-face {
    font-family: VCR OSD Mono Regular;
    src: url(/MagicWordsGame/VCR_OSD_MONO_1.001.ttf);
  }

body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: VCR OSD Mono Regular;
    }

#welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.splash-screen {
    background: url("/MagicWordsGame/Images/gif.gif") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#too-bad {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.lose-screen {
    background: url("/MagicWordsGame/Images/grim.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#won {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.win-screen {
    background: url("/MagicWordsGame/Images/light sky.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-secondary {
    margin-top: 40px;
    letter-spacing: 2px;
}


.alert {
    display: flex;
    position: absolute center;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.canvas {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#myCanvas {
    background-image: url('/MagicWordsGame/Images/Hogwarts.png');
    background-size: 800, 450;
    background-position: center;
    background-size: cover;
}

#myDarkCanvas {
    background-image: url('/MagicWordsGame/Dark code/Dark images/dark hogwarts.png');
    background-size: 800, 450;
    background-position: center;
    background-size: cover;
}

.char {
    background-color: rgb(255, 255, 255, 0.0);
    border-color:  rgb(255, 255, 255, 0.0);
    box-shadow:  rgb(255, 255, 255, 0.0);
    height: 150px;
    width: 120px;
    border: none;
    outline: none;
}

.char > img{
    height: 150px;
    width: 120px;
}

#buttons {
    cursor: url("/MagicWordsGame/Images/cursor.cur"), default;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.game-gryf {
    background-image: url('/MagicWordsGame/Images/backgrounds/gryffindor.png');opacity: 0,2;
}

.game-rav {
    background-image: url('/MagicWordsGame/Images/backgrounds/ravenclaw.png');opacity: 0,2;
}

.game-huf {
    background-image: url('/MagicWordsGame/Images/backgrounds/hufflepuff.png');opacity: 0,2;
}

.game-slyth {
    background-image: url('/MagicWordsGame/Images/backgrounds/slytherin.png');opacity: 0,2;
}